---
layout: "base.njk"
---

<article class="article">
    <div class="article__container container">
        <div class="article__information">
            <h1 class="article__title">{{ title }}</h1>
            <p class="blog__creation-info">by <span>{{ author }}</span> on <span>{{ date | postDate }}</span></p>
        </div>
        <figure class="article__figure">
            <img src="{{ image }}" alt="{{ imageAlt }}" class="article__img">
            {# <figcaption>{{ imageAlt }}</figcaption> #}
        </figure>

        <div class="article__content">
            {{ content | safe }}
        </div>
    </div>

    {% include "cta-section.njk" %}
</article>