<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css" media="print" onload="this.media='all'">
    <link rel="preload" href="/assets/font/Lexend-Variable.ttf" as="font" type="font/ttf" crossorigin>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LDF2CZ4WP0"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LDF2CZ4WP0');
</script>

<body>
    {% include "navigation.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
    <script src="/script.js"></script>
</body>
</html>