<script type="text/javascript">
    (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init", "30min", {origin:"https://app.cal.com"});

    
    // Important: Please add the following attributes to the element that should trigger the calendar to open upon clicking.
    // `data-cal-link="jarwebforge/30min"`
    // data-cal-namespace="30min"
    // `data-cal-config='{"layout":"month_view"}'`

    Cal.ns["30min"]("ui", {"hideEventTypeDetails":false,"layout":"month_view"});
</script>
<section class="meet" id="meet">
    <div class="meet__container container">
        <h2 class="section__title section__title-white">Contact</h2>
        <div class="meet__subheading-container">
            <p class="meet__subheading">Let's talk in real-time!</p>
            <p class="meet__subheading">Go ahead and book a call.</p>
            <a data-cal-link="jarwebforge/30min" class="cta-button meeting-button">Click here to schedule a call</a>
        </div>
        <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline-30min"></div>
    </div>
</section>
<section class="form">
    <div class="form__container container">
        <div class="form__container-left">
            <h2 class="section__title">Or send us a message.</h2>
            <p class="form__description">
                Let's communicate and explore your business needs together. We're here to listen, understand your unique situation, and tailor our solutions to help you thrive in the digital world. Reach out today to start the conversation!
            </p>
        </div>
        <div class="form__container-right">
            <form action="" class="form__element" name="contact" netlify>
                <div class="form__contact-info-container">
                    <input type="text" name="name" placeholder="Name" class="form__text-field">
                    <input type="email" name="email" placeholder="Email" class="form__text-field">
                </div>
                <textarea name="message" type="text" placeholder="Message" class="form__text-field form__message" wrap="soft"></textarea>
                <input type="submit" value="Send" class="form__button cta-button">
            </form>
        </div>
    </div>
</section>