<footer>
    <div class="footer__container container">
        <div class="footer__left-container">
            <a href="#"><img src="/assets/images/jar_webforge.webp" alt="JAR Webforge - Web Design Company for Small Businesses" class="footer__image" loading="lazy"></a>
            <p class="footer__description">
                JAR Webforge is a web design company for small businesses. We build affordable, custom websites with SEO that help you grow online.
            </p>
            <a href="#meet" class="cta-button">Book a call</a>
            <p class="footer__copyright">&copy; 2025 by <a href="#" class="footer__creator-tag">JAR WEBFORGE</a></p>
        </div>
        <div class="footer__right-container">
            <div class="footer__browse-container">
                <ul class="footer__links-container">
                    <li class="footer__links-title">BROWSE</li>
                    <li class=""><a href="/index" class="navigation__link">Home</a></li>
                    <li class=""><a href="/blog" class="navigation__link">Blog</a></li>
                    <li class=""><a href="/about" class="navigation__link">About</a></li>
                    <li class=""><a href="/services" class="navigation__link">Services</a></li>
                </ul>
            </div>
            <div class="footer__contact-container">
                <ul class="footer__links-container">
                    <li class="footer__links-title">CONTACT</li>
                    <li class="footer__email"><img src="/assets/icons/mail-icon.png" alt="Envelope icon"><a href="mailto:ruiz07014@gmail.com" class="navigation__link" loading="lazy">ruiz07014@gmail.com</a></li>
                    <li class="footer__email"><img src="/assets/icons/phone-icon.png" alt="Envelope icon"><a href="tel:7038624896" class="navigation__link" loading="lazy">(703) 862-4896</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
