<nav class="navigation">
  <div class="nav__container">
    <div class="navigation__left">
      <a href="/"><img src="/assets/images/jar_webforge.webp" alt="JAR Webforge - Web Design Company for Small Businesses" class="navigation__logo"></a>
    </div>
    <div class="navigation__right">
      <ul class="navigation__links-container" id="navBar">
        <li><a href="/" class="navigation__link">Home</a></li>
        <li><a href="/blog.html" class="navigation__link">Blog</a></li>
        <li><a href="/about.html" class="navigation__link">About</a></li>
        <li><a href="/services.html" class="navigation__link">Services</a></li>
        <li><a href="#meet" onclick="toggleResponsiveNav()" class="cta-button">Book a call</a></li>
      </ul>
      <button type="button" onclick="toggleResponsiveNav()" class="navigation__hamburger-menu" aria-controls="navBar" aria-expanded="false">
        <img src="/assets/icons/hamburger-menu.png" alt="Menu" class="navigation__hamburger-menu-icon">
      </button>
    </div>
  </div>
</nav>