<header class="page__header">
    <div class="page__header-container container">
        <h2 class="page__header-title">{{ pageHeaderTitle }}</h2>
        <h1 class="page__header-cta">{{ pageHeader }}</h1>
    </div>
</header>