---
title: Tips & Strategies to Grow Your Local Business Online
layout: "base.njk"
pageHeaderTitle: Blog
pageHeader: Tips & Strategies to Grow Your Local Business Online
---

<div class="blog__page">
    {% include "page-header.njk"%}
    {# <div class="blog__page-container container"> #}
        {# Loop through each post tagged "post" #}
        {# {%- for post in collections.post | reverse -%} #}
            
            {# {% include "article-snippet.njk" %} #}

        {# {% endfor%} #}
    {# </div> #}
    {# {% include "cta-section.njk"%} #}
</div>