---
title: Blog
layout: "base.njk"
---

<div class="blog__page">
    <div class="blog__page-container container">
        <h1 class="section__title">Blogs</h1>
        {# Loop through each post tagged "post" #}
        {%- for post in collections.post | reverse -%}
            
            {% include "article-snippet.njk" %}

        {% endfor%}
    </div>
</div>